body {
    background-color: white;
    color: white;
}

#home {
    color: black;
    padding-top: 25%;
    text-align: center;
    background-color: rgb(29, 123, 255);
    color: white;
    padding-bottom: 30%;
}

#about-me {
    color: black;
    padding-top: 8%;
    padding-bottom: 40%;
    margin-left: 10%;
    margin-right: 10%;
}

#portfolio {
    padding-top: 8%;
    padding-bottom: 30%;
    margin-left: 10%;
    margin-right: 10%;
}

#skills-used {
    padding-top: 8%;
    padding-bottom: 30%;
    margin-left: 10%;
    margin-right: 10%;
}

#education-obtained {
    padding-top: 8%;
    padding-bottom: 30%;
    margin-left: 10%;
    margin-right: 10%;
}

#contact {
    padding-top: 5%;
    padding-bottom: 30%;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    color: white;

    margin-left: 10%;
    margin-right: 10%;
}

.sub {
    margin-left: 30%;
    margin-right: 10%;
    font-size: x-large;
}

h5 {
    font-size: large;
}

h4 {
    color: black;
    font-size: large;
    margin-left: 10%;
    margin-right: 10%;

}

h5 {
    color: black;
    margin-left: 30%;
    margin-right: 10%;
}

h3 {
    color: white;
}

h2 {
    color: black;
}

span {
    color: rgb(29, 123, 255);
}

#images {
    position: relative;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
    border-spacing: 7%;
    margin-top: 2%;
}

.linktowebsite {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 2%;
}

img {
    height: 160px;
    width: 160px;
    border: 2px solid rgb(0, 0, 0);
}


/* CENTERS MY CONFERENCe LOGOS ON PAGE */
.tableOfLogos {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    width: 25%;
    text-align: center;
}

#worldnewsdiv {
    padding-top: 5%;
    /* margin-top: 40%; */
}

#basketballdiv {
    padding-top: 5%;
}

#instagramdiv {
    padding-top: 5%;
}

#musicdiv {
    padding-top: 5%;
}

#ga {
    padding-top: 1%;
}

#umass {
    padding-top: 1%;
}

#whitewater {
    padding-top: 1%;
}

.footer {
    background-color: rgb(29, 123, 255);
    font-size: small;
}