/* BOBY OF SITE */
/* ************ */
body {
  background-color: white;
  color: white;
}

.container{
  padding-left: 2%;
  padding-top: 2%;
}

img {
  padding-left: 1%;
  padding-top: 2%;
  
  
}
/* home div below */
/* ************ */
#home {
  color: black;
  padding-top: 20%;
  /* text-align: center; */
  padding-bottom: 30%;
}

#homediv {
  padding-top: 3%;
}

/* about me section */
/* *************** */
#about-me {
  color: black;
  padding-top: 14%;
  padding-bottom: 40%;
  /* margin-left: 10%;
  margin-right: 10%; */
}

/* web projects section */
/* ******************** */
#portfolio {
  padding-top: 9%;
  padding-bottom: 30%;
  /* margin-left: 10%;
  margin-right: 10%; */
}

/* degress listed section */
/* ********************* */
#education-obtained {
  padding-top: 9%;
  padding-bottom: 40%;
  /* margin-left: 10%;
  margin-right: 10%; */
}

/* my bio section */
/* ************** */
#contact {
  padding-top: 5%;
  padding-bottom: 30%;
  /* margin-left: 10%;
  margin-right: 10%; */
}

/* main headers on site */
/* ******************** */
h1 {
  color: black;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-left: 10%;
  margin-right: 10%; */
}

/* second line headers */
/* ****************** */
h2 {
  color: black;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

/* sub title under main name */
/* ************************* */
.subtitle {
  /* margin-left: 10%;
  margin-right: 10%; */
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* all paragraphs */
/* ************** */
p {
  font-family: Arial, Helvetica, sans-serif;
}

/* all live links */
/* ************** */
a:link {
  color: rgb(29, 123, 255);
}

/* visited link */
/* ************** */
a:visited {
  color: rgb(91, 139, 198);
}

/* mouse over link */
/* ************** */
a:hover {
  color: rgb(138, 189, 240);
}

/* selected link */
/* ************** */
a:active {
  color: rgb(10, 91, 162);
}

h4 {
  color: black;
  font-size: large;
  /* margin-left: 10%;
  margin-right: 10%; */
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  color: black;
  /* margin-left: 30%;
  margin-right: 10%; */
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  color: black;
}

/* education titles */
/* ****************** */
.ed-title {
  text-align: left;
}

span {
  color: rgb(29, 123, 255);
}

/* logos on home page */
/* ****************** */
/* .tableOfLogos {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
} */

/* pictures on site */
/* **************** */
/* .resizeImage {
  height: auto;
  width: 100%;
} */

/* .responsive {
  width: 100%; */
  /* max-width: 600px; */
  /* height: auto;
} */

#worldnewsdiv {
  padding-top: 6%;
}

#basketballdiv {
  padding-top: 6%;
}

#instagramdiv {
  padding-top: 6%;
}

#musicdiv {
  padding-top: 6%;
}

#ga {
  padding-top: 1%;
}

#umass {
  padding-top: 1%;
}

#whitewater {
  padding-top: 1%;
}